.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f1bad4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  width: 70%;
  background: linear-gradient(to bottom, #5353a3, #a0a0bb);
  background-color: #7272aa;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-button,
.cancel-button,
.edit-button,
.view-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-button {
  margin-left: 10px;
  background-color: #6e3588;
}


.cancel-button {
  background-color: #e74c3c;
}

.edit-button {
  background-color: #007bff;
}

.delete-button {
  background-color: #e74c3c;
  margin-left: 10px;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}

.note-form,
.note-list {
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.note-form h2 {
  color: #333;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.note-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #464646;
  border-radius: 8px;
  background: linear-gradient(to bottom, #ffdefc, #ffb8e8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.note-item:hover {
  transform: translateY(-5px) scale(1.02);
}

.note-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.note-item p {
  font-size: 14px;
  margin-bottom: 10px;
  max-height: 100px;
  overflow: auto;
  word-wrap: break-word;
}

.note-viewer {
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.note-viewer h2 {
  color: #333;
  margin-bottom: 10px;
}

.note-content {
  font-size: 14px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow: auto;
  word-wrap: break-word;
  border: 1px solid #464646;
  border-radius: 8px;
  background: linear-gradient(to bottom, #ffdefc, #ffb8e8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.close-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}